* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f8f9fa;
  padding-top: 60px;
}
.sidebar-sticky {
  width: 230px;
}
.sidebar-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}
